// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

section {
  width: 100%;
  position: relative;
}

#get-data-box {
  background-color: pink;
  border: 1px solid grey;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  align: center;
  border-radius: 20px;
  align-content: center;
}

#get-data {
  font-size: 20px;
  line-height: 20px;
}

body {
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

#intro {
  line-height: 200px;
  height: 900px;
}

#likelihood {
  height: 900px;
}

#perCapita {
  height: 900px;
	margin-top: 60px;
}

.fullscreen-bg {
    position: absolute;;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

.intro-layer {
  position: absolute;
  z-index: 100;
  background-color: #060A0A;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.main-title {
	font-family: 'Roboto', sans-serif;
	color: #65A8A8;
	mix-blend-mode: screen;
	margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
  z-index: 200;
	font-size: 300px;
	opacity: 0.8;
}

#aus {
	color: #eee;
	margin-top: -10px;
	opacity: 0.6;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: #eee;
	mix-blend-mode: screen;
	margin: 0 auto;
	margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
  z-index: 200;
	font-size: 50px;
}


#scroll {
	color: white;
	font-size: 15px;
	display: flex;
	align-items: center;
  justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 56px;
}

#myVideo {
	overflow: hidden;
}

#main-nav {
	color: white;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	vertical-align: middle;
	font-size: 20px;
	line-height: 45px;
	z-index: 300;
	position: fixed;
	height: 45px;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: #36D4A8;
	opacity: 0.8;
}

#timeline {
	vertical-align: bottom;
	font-size: 20px;
	line-height: 45px;
	z-index: 100;
	position: fixed;
	bottom: 0;
	height: 45px;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: #060A0A;
	opacity: 0.8;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.footer {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: row;
}

#homocide-aus {
	height: 1000px;
	display: flex;
}

#homocide-us {
	height: 1000px;
	display: flex;
}

#guns {
	height: 1000px;
	display: flex;
	width: 100%;
	background-color: #2D4D07;
}

#quote {
	background-image: url('guns-01.png');
  background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#top-quote {
	background-image: url('guns-02.png');
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#text-quote {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	font-size: 70px;
	font-family: 'Roboto', sans-serif;
	color: #36D4A8;
	mix-blend-mode: overlay;
	margin-top: 10%;
	padding: 120px;
	opacity: 0.8;
}


.australia {
	position: absolute;
	display: block;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 25%;
	width: 250px;
	opacity: 0;
}

.img-scale {
	transform: scale(3);
	transition: transform .7s ease-in-out;
	opacity: 0.25;
}

#knife-right {
	height: 100%;
	width: 50%;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#knife-left {
	height: 100%;
	width: 50%;
	background-color: grey;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.title-text {
	padding-top: 150px;
	font-size: 26px;
	color: #060A0A;
}

.answer-text {
	color: #060A0A;
	padding-bottom: 150px;
	font-size: 92px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	opacity: 0.8;
}

.overlay {
	font-family: 'Roboto', sans-serif;
	font-size: 110px;
	opacity: 0.2;
	text-transform: uppercase;
	position: absolute;
	margin-top: 5%;
	margin-left: 5%;
	display: flex;
	margin-bottom: auto;
	width: 10%;
}
