// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

section {
  width: 100%;
  position: relative;
}

#get-data-box {
  background-color: #36D4A8;
  border: 1px solid grey;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  align: center;
  border-radius: 20px;
  align-content: center;
}

#get-data {
  font-size: 20px;
  line-height: 20px;
}

body {
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

#intro {
  line-height: 200px;
  height: 900px;
}

#likelihood {
	padding-top: 20px;
  height: 800px;
	background-color: #041F3B;
	background-blend-mode: multiply;
	background-image: image-url('columbine.jpg');
	background-size: cover;
}

#homocide-comparison {
	padding-top: 20px;
	height: 800px;
	background-color: #AD272C;
	background-blend-mode: multiply;
	background-image: image-url('columbine.jpg');
	background-size: cover;
}

#perCapita {
  height: 900px;
	margin-top: 60px;
}

.fullscreen-bg {
	position: absolute;;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

.intro-layer {
  position: absolute;
  z-index: 100;
  background-color: #060A0A;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.main-title {
	font-family: 'Roboto', sans-serif;
	color: #65A8A8;
	mix-blend-mode: screen;
	margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
  z-index: 200;
	font-size: 300px;
	opacity: 0.8;
}

#aus {
	color: #eee;
	margin-top: -10px;
	opacity: 0.6;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: #eee;
	mix-blend-mode: screen;
	margin: 0 auto;
	margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
  z-index: 200;
	font-size: 50px;
}


#scroll {
	color: white;
	font-size: 15px;
	display: flex;
	align-items: center;
  justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 56px;
}

#myVideo {
	overflow: hidden;
}

#main-nav {
	color: white;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	vertical-align: middle;
	font-size: 20px;
	line-height: 45px;
	z-index: 300;
	position: fixed;
	height: 55px;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: #521315;
	opacity: 0.8;
}

#timeline {
	vertical-align: bottom;
	font-size: 20px;
	line-height: 45px;
	z-index: 100;
	position: fixed;
	bottom: 0;
	height: 45px;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: #060A0A;
	opacity: 0.8;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.footer {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: row;
}

#homocide-aus {
	height: 1000px;
	display: flex;
}

#homocide-us {
	height: 1000px;
	display: flex;
}

#guns {
	height: 1000px;
	display: flex;
	width: 100%;
	background-color: rgb(255,0,27);
}

.main-sec {
	height: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.middle-sec {
	height: 700px;
	display: flex;
	width: 100%;
}

.small-sec {
	height: 330px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	background-color: #eee;
}

#quote {
	background-image: image-url('guns-01.png');
  background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#orlando {
	background-image: image-url('mass-shootings.png');
	background-color: red;
	background-blend-mode: multiply;
  background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#top-quote {
	background-image: image-url('guns-02.png');
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#text-quote {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	font-size: 70px;
	font-family: 'Roboto', sans-serif;
	color: #eee;
	mix-blend-mode: overlay;
	margin-top: 10%;
	padding: 120px;
	opacity: 0.8;
}

#orlando-quote {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-top: 10%;
	padding: 120px;
	opacity: 0.8;
	width: 50%;
}

// #orlando-top {
// 	height: 100%;
// 	width: 100%;
// 	position: absolute;
// 	background-color: red;
// 	background-blend-mode: screen;
// 	opacity: 0.7;
// 	top: 0;
// 	left: 0;
// 	z-index: 10;
// }


.australia {
	position: absolute;
	display: block;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 25%;
	width: 250px;
	opacity: 0;
}

.img-scale {
	transform: scale(3);
	transition: transform .7s ease-in-out;
	opacity: 0.25;
}

#knife-right {
	height: 100%;
	width: 50%;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: -30px;
	padding-bottom: 100px;
}

#knife-left {
	height: 100%;
	width: 50%;
	background-color: grey;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: -30px;
	padding-bottom: 40px;
}

.title-text {
	font-size: 26px;
	color: #060A0A;
}

.answer-text {
	color: #060A0A;
	margin-top: -390px;
	padding-bottom: 10px;
	font-size: 62px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	opacity: 0.8;
}

.answer-text-white {
	color: #FFFFFF;
	padding-bottom: 10px;
	font-size: 52px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	opacity: 0.8;
}

.overlay {
	font-family: 'Roboto', sans-serif;
	font-size: 110px;
	opacity: 0.2;
	text-transform: uppercase;
	position: absolute;
	margin-top: 5%;
	margin-left: 5%;
	display: flex;
	margin-bottom: auto;
	width: 10%;
}

.btn {
	border-radius: 10px;
	border: 0px solid white;
	background-color: cyan;
	color: white;
	width: 200px;
	height: 100px;
	margin: 10px;
	font-size: 25px;
}

// .nav-text {
// 	display: block;
// 	float:left;
// 	padding: 5px;
// }

.btn-vote {
	display: block;
	float:right;
  background: #34d9aa;
  background-image: -webkit-linear-gradient(top, #34d9aa, #2980b9);
  background-image: -moz-linear-gradient(top, #34d9aa, #2980b9);
  background-image: -ms-linear-gradient(top, #34d9aa, #2980b9);
  background-image: -o-linear-gradient(top, #34d9aa, #2980b9);
  background-image: linear-gradient(to bottom, #34d9aa, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	width: 120px;
	height: 50px;
	border: .5px solid white;
	line-height: 20px;
	margin: 5px;
}

.selected {
	border: 4px solid black;
}

.btn-vote:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn:hover {
	opacity: 0.7;
}

#votes {
	padding-top: 50px;
	background-color: #36D4A8;
}

.vote_select {
	width: 30px;
	height: 30px;
}

.circle-graph {
	display: flex;
	width: 350px !important;
	height: 350px !important;
	margin: 0 auto;
}

.bubble-graph {
	display: flex;
	width: 930px !important;
	height: 560px !important;
	margin: 0 auto;
}

.homicides {
	display: block;
	margin: 30px;
}

#homicide-left {
	float: left;
}

.wrapped-content {
	margin: 10px;
	display: flex;
	justify-content: center;
}

#per_100_suicide {
	width: 900px !important;
	height: 700px !important;
	margin: 0 auto;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#per_100_total{
	width: 900px !important;
	height: 700px !important;
	margin: 0 auto;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

#per_100_wrapper {
	width: 900px !important;
	height: 500px !important;
	position: relative;
}

#orlando-sec {
	background-color: #2D4D07;
}

#suicide-sec {
	background-color: #36D4A8;
	display: flex;
	align-items: center;
	justify-content: center;
}

#suicide-graph {
	background-color: #36D4A8;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 1100px !important;
}

#columbine {
	height: 1200px;
	background-image: image-url('columbine.jpg');
	background-size: cover;
}

#columbine-sec {
	overflow: hidden;
}

.blue-back {
	background-color: red;
	opacity: 0.5;
	color: white;
	height: 1200px;
	width: 100%;
	overflow: hidden;
}

.back {
	height: 1200px;
	width: 100%;
	overflow: hidden;
}

.clear-back {
	background-color: white;
	opacity: 0.0;
	height: 1200px;
}

.rectangle-box {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -213px;
  margin-top: -213px;
  width: 356px;
  height: 356px;
  text-align: center;
  z-index: 2;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  border: 35px solid #fff;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: transform 1s ease-out;
}

.animate {
  transform: rotate(45deg) scale(3.3);
	transition: transform 1s ease-out;
}

.scroll-it {
	overflow-y:scroll; overflow-x:hidden;
}

.weapon {
	margin-top: -500px;
}

.country {
	width: 80%;
	height: 80%;
	flex-direction: column;
}

.transparent {
	opacity: 0.2;
}

.animate-btn {
  transform: scale(1.2);
	transition: transform 1s ease-out;
}

.country-btns {
	display: flex;
	float: right;
	width: 20%;
	flex-direction: column;
}

.bubble-btn {
	display: inline-block;
	width: 80%;
}

.num {
	color: #FF001B;
}
