
  <!-- <div id="get-data-box">
    <a href="#" id="get-data">Get JSON data</a>
  </div> -->
  <nav> <a href="#votes"><p>Vote now</p></a></nav>

  <section id="intro">
    <div>
      <h1>Gun Control: US vs Australia</h1>
      <h4 id="scroll">Scroll below to view</h4>
    </div>
  </section>

  <section id="perCapita">
    <div class="perCapitaTitle">Here's how many citizens die per 1000</div>
    <br>
    <div id="data-1"></div>
    <div id="data-2"></div>
    <canvas id="ctxBar"></canvas>
  </section>

  <section id="likelihood">
    <div class="likelihoodTitle">The likelihood is the same as ...</div>
      <br>
      <div id="data-3"></div>
      <div id="data-4">in the United States</div>
      <div id="data-5"></div>
      <div id="data-6">in Australia</div>
  </section>

  <section id="votes">
    <div class="vote">
      <p>Cast your vote</p>
      <p>Do you think gun control should be banned in the US?</p>
    </div>
    <div class="vote"></div>
    <canvas id="myChart"></canvas>
  </section>
